@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*###################### GENERAL ######################*/

*{
	font-family: 'Inter';
}

body{
	margin:0px;
	padding: 0px;
	width: 1440px;
	height: 100vh;
}
menu{
	padding: 0px;
	margin: 0px;
}
main{
	height: 745px;
	width: 1110px;
	display:grid;
	grid-template-rows: 40px 300px 180px 125px;
	grid-template-columns: 350px 350px 350px;
	grid-template-areas: 
		"menu menu menu"
		"mainPic mainPic news"
		"title readMore news"
		"reviving laptops gaming";
	grid-gap: 30px;
	border: solid 1px red;
}

main > div {
	border: solid 1px black;
}

.flexColumnCenter{
	display: flex;
	flex-direction: column;
	align-items: center;
}

menu{
	grid-area: menu;
	border: solid 1px black;
}

#mainPic{
	grid-area: mainPic;
}

#news{
	grid-area: news;
}

#title{
	grid-area: title;
}

#readMore{
	grid-area: readMore;
}

#reviving{
	grid-area: reviving;
}

#laptops{
	grid-area: laptops;
}

#gaming{
	grid-area: gaming;
}


