@charset "utf-8";

@font-face {
	font-family: 'Inter-Regular';
	src: url('../fonts/Inter-Regular.woff');
	font-weight: 400;
}
@font-face {
	font-family: 'Inter-Bold';
	src: url('../fonts/Inter-Bold.woff');
	font-weight: 700;
}
@font-face {
	font-family: 'Inter-ExtraBold';
	src: url('../fonts/Inter-ExtraBold.woff');
	font-weight: 800;
}

:root {
	--AlmostWhite: #FFFDFA; /*hsl(36,100%,99%)*/
	--LightVermillion: #F15D51; /*hsl(4.5,85.1%,63.1%)*/
	--Yellow: #E9AA52; /*hsl(35,77.4%,61.8%)*/
	--Silver: #C5C6CE; /*hsl(233.3,8.4%,79%)*/
	--Gunmetal: #5E607A; /*hsl(235.7,13%,42.4%)*/
	--DarkSpaceBlue: #00001A; /*hsl(240,100%,5.1%)*/
}

/*###################### GENERAL ######################*/
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--AlmostWhite);
}

.flexColumnCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexRowCenterSpaceBt {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}

p,h1{
	margin: 0px;
	padding: 0px;
}

h1 {
	font: 800 56px/56px 'Inter-ExtraBold';
}

/*-------- DESKTOP MENU --------*/

nav {
	width: 1110px;
	height: 40px;
	padding: 0px;
	margin: 89px 0px 0px;
}

#logo {
	width: 65px;
	height: inherit;
	background: url('../images/logo.svg') center/64px no-repeat;
}

#desktopMenu {
	width: 431px;
	height: inherit;
}

#desktopMenu div {
	height: inherit;
	text-align: center;
}

.desktopMenuBt {
	font: 400 16px/40px 'Inter-Regular';
	padding: 0px;
	color: var(--Gunmetal);
	background-color: transparent;
	border: none;
	transition: color 0.3s ease;
	cursor: pointer;
}

@media(hover:hover) {
	#desktopMenu button:hover {
		color: var(--Yellow);
	}
}

/*-------- MOBILE MENU --------*/

#mobileMenu {
	width: 100%;
	height: 100vh;
	display: none;
	position: fixed;
	z-index: 100;
	right: 0px;
	top: 0px;
	overflow: hidden;
	background-color: var(--DarkSpaceBlue)
}

#hamburger {
	display: none;
	width: 40px;
	height: inherit;
	background: url("../images/icon-menu.svg") center/40px no-repeat;
}

#menu-mobile-back {
	width: 256px;
	height: inherit;
	float: right;
	padding: 27px 24px 0px 20px;
	display: flex;
	flex-direction: column;
	background-color: var(--AlmostWhite);
}

#hideMenuBt {
	width: 30px;
	height: 30px;
	align-self: flex-end;
	background: transparent url('../images/icon-menu-close.svg') center/30px no-repeat;
	border: none;
	margin-bottom: 86px;
}

.mobileMenuBt {
	width: auto;
	height: 24px;
	padding: 0px;
	color: hsl(240, 100%, 5%);
	font: 400 18px/24px 'Inter-Regular';
	margin-bottom: 24px;
	text-align: left;
	border: none;
	background-color: transparent;
}

/*-------- MAIN --------*/

main {
	width: 1110px;
	height: 511px;
	display: grid;
	grid-template-rows: 300px 183px;
	grid-template-columns: 350px 350px 350px;
	grid-template-areas:
		"mainPic mainPic new"
		"title readMore new";
	column-gap: 30px;
	row-gap: 28px;
	margin-top: 55px;
}

/*-------- MAINPIC --------*/

#mainPic {
	background: url("../images/image-web-3-desktop.jpg") center/730px no-repeat;
	grid-area: mainPic;
}

/*-------- NEW --------*/

#new {
	padding: 31px 25px 0px 24px;
	background-color: var(--DarkSpaceBlue);
	grid-area: new;
}

#new-top {
	color: var(--Yellow);
	font: 700 41px/40px 'Inter-Bold'; /*40*/
	margin-bottom: 34px;
}

.new-paragraph {
	width: 302px;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 84px;
}

.new-headerBt {
	height: 24px;
	padding: 0px;
	margin-bottom: 8px;
	background-color: transparent;
	border: none;
	font: 800 20.5px/24px 'Inter-ExtraBold';
	color: var(--AlmostWhite);
	cursor: pointer;
	transition: color 0.3s ease;
}

@media(hover:hover) {
	.new-headerBt:hover {
		color: var(--Yellow);
	}
}

.new-separator{
	width: 302px;
	height: 1px;
	margin: 29px 0px 31px;
	background-color: var(--Gunmetal) ;
}

.new-text {
	font: 400 16px/26px 'Inter-Regular';
	color: var(--Silver);
}

/*-------- TITLE --------*/

#title {
	padding-top:4px;
	color: var(--DarkSpaceBlue);
	grid-area: title;
}

/*-------- READMORE --------*/

#readMore {
	grid-area: readMore;
}

#readMore-text {
	width: inherit;
	height: 104px;
	padding-right: 5px;
	font: 400 16px/26px 'Inter-Regular';
	color: var(--Gunmetal);
}

#readMore-bt {
	width: 185px;
	height: 48px;
	padding: 0px;
	margin-top: 30px;
	border: none;
	background-color: var(--LightVermillion);
	color: var(--DarkSpaceBlue);
	font: 700 14px/48px 'Inter-Bold';
	letter-spacing: 4.38px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

@media(hover:hover) {
	#readMore-bt:hover {
		color: var(--AlmostWhite);
		background-color: var(--DarkSpaceBlue);
	}
}

/*-------- FOOTER --------*/

footer{
	width: 1110px;
	height: 129px;
	margin-top: 71px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.footerNews{
	width: 350px;
	height: 127px;
	display: inline-flex;
	justify-content: space-between;
}

.footerPic{
	width: 100px;
	height: 127px;
}

.footer-articleContent{
	width: 226px;
	height: inherit;
	display:flex;
	flex-direction: column;
}

.footer-articleNum{
	font: 700 32px/32px 'Inter-Bold';
	letter-spacing: 1px;
	color: var(--LightVermillion);
}

.footer-articleHeaderBt{
	padding: 0px;
	margin: 12px 0px 9px;
	font: 800 18.7px/24px 'Inter-ExtraBold';
	text-align: left;
	color: var(--DarkSpaceBlue);
	border: none;
	background-color: transparent;
	transition: color 0.3s ease;
	cursor: pointer;
}

@media(hover:hover){
	.footer-articleHeaderBt:hover{
		color: var(--LightVermillion);
	}
}

.footer-articleText{
	font: 400 16px/26px 'Inter-Regular';
	color: var(--Gunmetal);
}

#reviving-pic {
	background: url("../images/image-retro-pcs.jpg") center/100px no-repeat;
}

#laptops-pic {
	background: url("../images/image-top-laptops.jpg") center/100px no-repeat;
}

#gaming-pic {
	background: url("../images/image-gaming-growth.jpg")center/100px no-repeat;
}

/*##################################### MOBILE VERSION #####################################*/

@media screen and (max-width: 768px) {
	main {
		display: none;
	}

	nav {
		width: 343px;
		height: 28px;
		margin-top: 28px;

	}

	#logo {
		width: 46px;
		background: url('../images/logo.svg') center/46px no-repeat;
	}

	#desktopMenu {
		display: none;
	}

	#hamburger {
		display: block;
	}
}