@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*###################### GENERAL ######################*/

*{
	font-family: 'Inter';
}

body{
	margin:0px;
	padding: 0px;
	width: 1440px;
	height: 100vh;
}

.flexColumnCenter{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexRowCenterSpaceBt{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}

/*-------- MAIN --------*/

main{
	height: 760px;
	width: 1110px;
	display:grid;
	grid-template-rows: 65px 300px 180px 125px;
	grid-template-columns: 350px 350px 350px;
	grid-template-areas: 
		"menu menu menu"
		"mainPic mainPic news"
		"title readMore news"
		"reviving laptops gaming";
	grid-gap: 30px;
	border: solid 1px red;
}

main > div {
	border: solid 1px black;
}

/*-------- MENU --------*/

menu{
	padding: 0px;
	margin: 0px;
	grid-area: menu;
}

#menu-links div{
	height: 40px;
	text-align: center;
	font: 400 16px/40px 'Inter';
	margin: auto 0px auto 40px;
	color: hsl(233, 8%, 79%);
}

/*-------- MAINPIC --------*/

#mainPic{
	background: url("../images/image-web-3-desktop.jpg") center/730px no-repeat;
	grid-area: mainPic;
}

/*-------- NEWS --------*/

#news{
	background-color: hsl(240, 100%, 5%);
	grid-area: news;
}

#news div{
	width: 310px;
	text-align: left;
}

#news-top{
	height: 80px;
	color:hsl(35, 77%, 62%);
	font: 800 40px/45px 'Inter';
}

#news-top p{
	margin-top: 30px;
}

.news-paragraph{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 145px;
	color:white;
}

.news-title{
	font: 700 20px/0.7 'Inter';
	margin: 20px 0px 0px 0px;
}

.news-text{
	font: 200 16px/1.6 'Inter';
	
}

#news-downsidesOfAI{
	border-top: solid 1px hsl(233, 8%, 79%);
	border-bottom: solid 1px hsl(233, 8%, 79%);
}

#title{
	grid-area: title;
}

#readMore{
	grid-area: readMore;
}

#reviving{
	grid-area: reviving;
}

#laptops{
	grid-area: laptops;
}

#gaming{
	grid-area: gaming;
}


